/* leaving animations ----------------------------------------- */

/* rotate and fall */

@keyframes rotateFall {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(10deg);
    animation-timing-function: ease-out;
  }
  40% {
    transform: rotateZ(17deg);
  }
  60% {
    transform: rotateZ(16deg);
  }
  100% {
    transform: translateY(100%) rotateZ(17deg);
  }
}
/* slide in from the bottom */

@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}
/* rotate out newspaper */

@keyframes rotateOutNewspaper {
  to {
    transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0;
  }
}
/* entering animations --------------------------------------- */

/* scale up */

@keyframes scaleUp {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
  }
}
/* slide in from the right */

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
/* slide in from the bottom */

@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.ng-enter {
  animation: scaleUp 0.5s both ease-in;
  z-index: 8888;
}
.ng-leave {
  animation: slideOutLeft 0.5s both ease-in;
  z-index: 9999;
}
ng-view.ng-enter {
  animation: slideInRight 0.5s both ease-in;
}
ng-view.ng-leave {
  animation: slideOutLeft 0.5s both ease-in;
}

.search-form {
  padding:10px 0px; 
  background-color: rgba(255,255,255,157);

  filter: alpha(opacity=50); /* internet explorer */
  -khtml-opacity: 0.5;      /* khtml, old safari */
  -moz-opacity: 0.5;       /* mozilla, netscape */
  opacity: 0.5;           /* fx, safari, opera */

  border-radius: 10px;
  }

  .search-form button{
    filter: alpha(opacity=100); /* internet explorer */
  -khtml-opacity: 1.0;      /* khtml, old safari */
  -moz-opacity: 1.0;       /* mozilla, netscape */
  opacity: 1.0;           /* fx, safari, opera */
  }

#search.background
{
background-image: url('http://blackgirllonghair.com/wp-content/uploads/2014/08/new-york-city.jpg');
background-position: -123px -547px;
}


#propertyDetails{
  height: 100%;
}

#propertyDetails.affix-top {
    position: static;
    margin-top:20px;
    
  }


#propertyDetails.affix{
  position: fixed;
    top:55px;
    right:105px;
    width:570px;

}

.affix,.affix-top{
  position:static;
  
}


@media (min-width: 979px) {
  #midCol.affix-top {
      position:fixed;
      width:265px;
      margin-right:10px;
      
  }
  
  #midCol.affix {
      position:static;
      width:100%;
  }

}

@media (min-width: 767px) {
  .affix,.affix-top {
      position:fixed;
  }
}


.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


#detailedFilter dl.position dt{
  width:auto;
}

#detailedFilter dl.position dd{
  margin-left:60px;
}

#currentLocationSelection li
{
  background-color: #FFF;
  height: 60px;
  font-size: 1.1em;
  color: #335;
}

#currentLocationSelection li.not-selected
{
  background-color: #667;
  width: 160px;
  font-size: 1.2em;
  color:#CCF;
}