<ul class="nav navbar-nav">
  <li ng-class="{active:isActive('/')}">
    <a href="#">Home</a>
  </li>
  <li ng-class="{active:isActive('/search')}">
    <a href="#/search">Search</a>
  </li>
  <li ng-class="{active:isActive('/contact')}">
    <a href="#/contact">Contact</a>
  </li>
  <li ng-class="{active:isActive('/aboutus')}">
    <a href="#/aboutus">About us</a>
  </li>
  
</ul>
