<ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
  <li>
    <form id="{{formid}}" class="navbar-form navbar-left col-lg-4" role="search" src="#">
      <div class="form-group">
        <label class="sr-only" for="userEmail">Email address</label>
        <div class="input-group">
          <div class="input-group-addon">@</div>
          <input class="form-control" type="email" id="userEmail" name="userEmail" ng-model="userEmail" placeholder="Enter email" style="width:180px;">
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only" for="userPassword">Password</label>
        <input type="password" class="form-control" id="userPassword" name="userPassword" ng-model="userPassword" placeholder="Password" style="width:180px;">
      </div>
      <button type="submit" class="btn btn-default" ng-click="login()">
        <span class="glyphicon glyphicon-user"></span>
      </button>
    </form>
  </li>
  <li>
    <span class="h6"><a href="logon.html">Cadastrese...</a></span>
  </li>
</ul>
