<div id="detailedFilter" class="container hidden-xs hidden-xs col-md-3 col-lg-3">
  <ul class="list-group">
    <li class="list-group-item">
      <span class="h4">Location</span>
      <dl class="position dl-horizontal list-unstyled">
        <dt ng-show="state != undefined">State:</dt>
        <dd ng-show="state != undefined">
          <span>{{state.name}}</span>
        </dd>
        <dt ng-show="city != undefined">City:</dt>
        <dd ng-show="city != undefined">
          <span>{{city.name}}</span>
        </dd>
        <dt ng-show="neigborhood != undefined && neigborhood.length > 0">Bairro:</dt>
        <dd ng-show="neigborhood != undefined && neigborhood.length > 0">
          <ul><li ng-repeat="neigbor in neigborhood">{{neigbor.name}}</li></ul>
        </dd>
      </dl>
      <p>
        <button class="btn btn-md btn-info" data-toggle="modal" data-target="#locationModal">Add location</button>
      </p>
    </li>
    <li class="list-group-item">


      <span class="h4">Price</span>
      <p>Price:
        <span>{{current.minPrice}}</span> to
        <span>{{current.maxPrice}}</span>
      </p>
      <custom-slider floor="{{absolute.minPrice}}" ceiling="{{absolute.maxPrice}}" min-value="current.minPrice" max-value="current.maxPrice"></custom-slider>
    </li>
    <li class="list-group-item">
      <span class="h4">Characteristics</span>
      <p class="h5">Rooms:
        <span>{{current.minRooms}}</span>
      </p>
      <custom-slider floor="{{absolute.minRooms}}" ceiling="{{absolute.maxRooms}}" current-value="current.minRooms"></custom-slider>
      <p class="h5">Area:
        <span>{{current.minArea}} m<sup>2</sup>
        </span>to
        <span>{{current.maxArea}} m<sup>2</sup>
        </span>
      </p>
      <custom-slider floor="{{absolute.minArea}}" ceiling="{{absolute.maxArea}}" min-value="current.minArea" max-value="current.maxArea"></custom-slider>
      <p class="h5">Suites:
        <span>{{current.minSuites}}</span>
      </p>
      <custom-slider floor="{{absolute.minSuites}}" ceiling="{{absolute.maxSuites}}" current-value="current.minSuites"></custom-slider>
      <p class="h5">Garages:
        <span>{{current.minGarage}}</span>
      </p>
      <custom-slider floor="{{absolute.minGarage}}" ceiling="{{absolute.maxGarage}}" current-value="current.minGarage"></custom-slider>
    </li>
    <li class="list-group-item">
      <span class="h4">Picture</span>
      <div class="checkbox">
        <label>
          <input type="checkbox">Only property with pictures
        </label>
      </div>
    </li>

  </ul>

</div>

<div class="modal fade" id="locationModal" tabindex="-100" role="dialog" aria-labelledby="locationModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Select location</h4>
      </div>
      <div class="modal-body h5">

        <ul id="currentLocationSelection" class="list-inline current-selection">
          <li class="not-selected text-center" ng-show="stateTemp == undefined">Select state</li>
          <li ng-show="stateTemp != undefined">{{stateTemp.name}}</li>
          <li class="not-selected text-center" ng-show="stateTemp != undefined && cityTemp == undefined">Select city</li>
          <li ng-show="stateTemp != undefined && cityTemp != undefined">{{cityTemp.name}}</li>
          <li class="not-selected text-center" ng-show="stateTemp != undefined && cityTemp != undefined">Select neigborhood</li>

        </ul>
        <div class="form-group">
          <label class="sr-only" for="searchTerm">Password</label>
          <input type="text" class="form-control" id="searchTerm" ng-model="locationSearchTerm" placeholder="Search term">
        </div>

        <div style="height:200px; overflow-y:scroll;">
          <ul class="list-group">
            <li class="list-group-item list-group-item-success" ng-repeat="presentation in locationCurrentPresentation"><div  ng-click="addressSelection(presentation)">{{presentation.name}}</div></li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveLocationSelection()">Save changes</button>
      </div>
    </div>
  </div>
</div>
