<div class="col-sm-6 col-md-4">
    <div class="thumbnail" style="position:relative">
        

        <img class="thumbnail" src="{{property.propertyMedias | firstPicture}}" style="height: 200px; width: 100%; display: block;" alt="100%x200" />
        <h5 class="bold text-center">Thumbnail label</h5>
        <p class="h6">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p class="text-center">
            <a href="#" class="btn btn-primary btn-xs" role="button" data-toggle="tooltip" title="See map">Map<span class="glyphicon glyphicon-globe"></span></a>
            <a href="#" class="btn btn-default btn-xs" role="button" data-toggle="tooltip" title="Contact announcer">Contact<span class="glyphicon glyphicon-comment"></span></a>
        </p>
    </div>
</div>
