<div id="propertyDetails" class="hidden-xs hidden-xs col-md-6 col-lg-6" ng-show="selected != null">

  <div id="property-inline-carousel" class="carousel slide" data-ride="carousel">
    <carousel interval="5000">
      <slide ng-repeat="image in selected.propertyMedias">
        <img ng-src="{{image.ds_thumbnail}}" style="margin:auto;width:550px;height:250px;">
        <div class="carousel-caption">
          <h4>{{image.ds_title}}</h4>
          <p>{{image.ds_description}}</p>
        </div>
      </slide>
    </carousel>
  </div>

  <div ng-repeat="category in detailedCategories">
    <span class="h4">{{category.nm_identifier}}</span>
    <ul class="list-inline">
      <li ng-repeat="characteristic in category.characteristics">
        <strong>{{characteristic.nm_identifier}}:</strong>
        {{characteristic.ds_value}}
      </li>
    </ul>
  </div>
</div>
