<div class="container bs-docs-container">
  <section class="container row">
    <div class="starter-template">
      <h1>Bootstrap starter template</h1>
      <p class="lead">Use this document as a way to quickly start any new project.
        <br>All you get is this text and a mostly barebones HTML document.</p>
    </div>
  </section>
</div>
<section class="container bs-docs-container">
  <div class="container col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">Send us a message</div>
      <div class="panel-body">

        <form role="form">
          <div class="form-group">
            <label for="exampleInputEmail1">Full name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="First name and Last name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Message</label>
            <textarea class="form-control pull-left" rows="6" id="exampleInputPassword1"></textarea>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox">Check me out
            </label>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>

      </div>
      <!-- /.container -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.container -->

  <div class="container col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">Our postal address</div>
      <div class="panel-body">

        <address>
          <strong>Twitter, Inc.</strong>
          <br>795 Folsom Ave, Suite 600
          <br>San Francisco, CA 94107
          <br>
          <abbr title="Phone">P:</abbr>(123) 456-7890
        </address>

        <address>
          <strong>Full Name</strong>
          <br>
          <a href="mailto:#">first.last@example.com</a>
        </address>

      </div>
      <!-- /.container -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.container -->
</section>
