<section class="bs-docs-header hidden-xs">
  <div class="container">
    <h1>Marketing stuff!</h1>
    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <a href="#" class="btn btn-large btn-success">Get Started</a>
  </div>
</section>

<div class="container bs-docs-container">
  <section class="container row">
    <div class="starter-template">
      <h1>Bootstrap starter template</h1>
      <p class="lead">Use this document as a way to quickly start any new project.
        <br>All you get is this text and a mostly barebones HTML document.</p>
    </div>
  </section>

  <section class=" col-xs-12 col-sm-9 col-md-9 col-lg-9">
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">14</span>What we are?
      </li>
      <li class="list-group-item active">
        <span class="badge">14</span>
        <a href="#">Home</a>
      </li>
      <li class="list-group-item"><a href="#">Our Clients</a>
      </li>
      <li class="list-group-item"><a href="#">Our Services</a>
      </li>
      <li class="list-group-item"><a href="#">About Us</a>
      </li>
      <li class="list-group-item"><a href="#">Contact Us</a>
      </li>
      <li class="list-group-item"><a href="#">Google</a>
      </li>
      <li class="list-group-item"><a href="#">Yahoo!</a>
      </li>
      <li class="list-group-item"><a href="#">Bing</a>
      </li>
      <li class="list-group-item"><a href="#">Microsoft</a>
      </li>
      <li class="list-group-item"><a href="#">Gadgetic World</a>
      </li>
    </ul>
  </section>
  <!-- /.container -->
  <section class="container hidden-xs col-sm-3 col-md-3 col-lg-3">
    <div class="list-group">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">
          Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        </p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">
          Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        </p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">
          Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        </p>
      </a>
    </div>
  </section>
</div>






</body>

</html>
