<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Select location</h4>
            </div>
            <div class="modal-body h5">
                <ul class="list-group row">
                    <li class="list-group-item col-xs-6 state">Florida
                        <ul class="h6 list-unstyled">
                            <li>
                                <label>
                                    <input type="checkbox" class="city" value="c-1">Miami
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox" class="city" value="c-2">Orlando
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox" class="city" value="c-3">Naples
                                </label>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item col-xs-6">Texas</li>
                    <li class="list-group-item col-xs-6">California</li>
                    <li class="list-group-item col-xs-6">Ohio</li>
                    <li class="list-group-item col-xs-6">Nevadas</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
