<div class="text-center" data-property-options="true" style="position:absolute;display:none;">
    <button class="btn btn-default btn-xs" role="button" data-toggle="tooltip" title="Add to Favorites">
        <span class="glyphicon glyphicon-heart"></span>
    </button>
    <button class="btn btn-default btn-xs" role="button" data-toggle="tooltip" title="Edit">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <button class="btn btn-default btn-xs" role="button" data-toggle="tooltip" title="Like">
        <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    <button class="btn btn-default btn-xs" role="view-details" data-toggle="tooltip" data-placement="bottom" title="View details" ng-click="viewDetails(property)">
        <span class="glyphicon glyphicon-eye-open"></span>
    </button>
    <button class="btn btn-default btn-xs" role="button" data-toggle="modal" data-target="#basicModal" data-tooltip data-placement="bottom" title="Send to friends">
        <span class="glyphicon glyphicon-user"></span>
    </button>
</div>
