<section id="search" class="background bs-docs-header hidden-xs">
  <div class="container col-lg-8 col-lg-offset-2 search-form">
    <div class="col-md-9">
          <div class="dropdown" style="display: inline-block;">
            <button data-toggle="dropdown" id="dropdownMenu1" type="button" class="btn btn-default dropdown-toggle">
              What you want
              <span class="caret"></span>
            </button>
            <ul aria-labelledby="dropdownMenu1" role="menu" class="dropdown-menu">
              <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Sell</a>
              </li>
              <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Rent</a>
              </li>
              <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Season Rent</a>
              </li>
              <li class="divider" role="presentation"></li>
              <li role="presentation"><a href="#" tabindex="-1" role="menuitem">All</a>
              </li>
            </ul>
          </div>
          <div class="dropdown" style="display: inline-block;">
            <button data-toggle="dropdown" id="dropdownMenu1" type="button" class="btn btn-default dropdown-toggle">
              What property type
              <span class="caret"></span>
            </button>
            <ul aria-labelledby="dropdownMenu1" role="menu" class="dropdown-menu">
              <li role="presentation"><a href="#" tabindex="-1" role="menuitem">House</a>
              </li>
              <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Apartment/Flat</a>
              </li>
            </ul>
          </div>
          <a class="btn btn-md btn-info" data-toggle="modal" data-target="#basicModal" style="">Location</a>
          <div class="dropdown" style="display: inline-block;">
            <button data-toggle="dropdown" id="dropdownMenu1" type="button" class="btn btn-default dropdown-toggle">
              Min Price
              <span class="caret"></span>
            </button>
            <ul aria-labelledby="dropdownMenu1" role="menu" class="dropdown-menu">
              <li role="presentation"><a href="#" tabindex="-1" role="menuitem">10000</a>
              </li>
              <li role="presentation"><a href="#" tabindex="-1" role="menuitem">10000</a>
              </li>
              <li role="presentation"><a href="#" tabindex="-1" role="menuitem">10000</a>
              </li>
              <li class="divider" role="presentation"></li>
              <li role="presentation"><a href="#" tabindex="-1" role="menuitem">All</a>
              </li>
            </ul>
          </div>
          <div class="dropdown" style="display: inline-block;">
            <button data-toggle="dropdown" id="dropdownMenu1" type="button" class="btn btn-default dropdown-toggle">
              Max Price
              <span class="caret"></span>
            </button>
            <ul aria-labelledby="dropdownMenu1" role="menu" class="dropdown-menu">
              <li role="presentation"><a href="#" tabindex="-1" role="menuitem">20000</a>
              </li>
              <li role="presentation"><a href="#" tabindex="-1" role="menuitem">20000</a>
              </li>
            </ul>
          </div>

        <div class="col-md-3 h6">
          <label class="checkbox-inline" style="">
            <input type="checkbox" id="inlineCheckbox2" value="option2" style="margin:0 -15px;">With picture
          </label>
        </div>
      </div>

    <div class="col-md-3">
      <label class="checkbox-inline h6">
        <input type="checkbox" id="inlineCheckbox2" value="option2" style="margin:0 -15px;">Email me best prices
      </label>

      <button type="submit" class="btn btn-default btn-success" ng-click="initialSearch()">Search
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </div>
  </div>
</section>

<div class="container">
  <section class="row">
    <div class="starter-template">
      <h1>Bootstrap starter template</h1>
      <p class="lead">Use this document as a way to quickly start any new project.
        <br>All you get is this text and a mostly barebones HTML document.</p>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="hidden-xs hidden-xs col-md-3 col-lg-3" ng-show="!showDetailedFilter && selectedForDetails == null">
        <div class="list-group">
          <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">
              Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
            </p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">
              Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
            </p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">
              Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
            </p>
          </a>
        </div>
      </div>
      <property-filter ng-show="showDetailedFilter"></property-filter>
      <!-- /.container -->


      <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
        <div ng-repeat="property in properties">
          <property-item show-details="showDetails(property)" property="property"></property-item>
        </div>
        <div class="row">

          <div class="text-center">
            <ul class="pagination pager">
              <li class="disabled"><a href="#">&laquo;</a>
              </li>
              <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a>
              </li>
              <li class=""><a href="#">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class=""><a href="#">3 <span class="sr-only">(current)</span></a>
              </li>
              <li class=""><a href="#">4 <span class="sr-only">(current)</span></a>
              </li>
              <li class=""><a href="#">5 <span class="sr-only">(current)</span></a>
              </li>
              <li class=""><a href="#">6 <span class="sr-only">(current)</span></a>
              </li>
              <li class="disabled"><a href="#"> &raquo;</a>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <div class="hidden-xs hidden-xs col-md-3 col-lg-3" ng-show="!showDetailsFlag">
        <div class="list-group">
          <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">
              Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
            </p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">
              Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
            </p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">
              Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
            </p>
          </a>
        </div>
      </div>

      <property-inline-carosel selected="selectedForDetails"></property-inline-carosel>
    </div>
  </div>
</div>

<div ng-include src="'.../../templates/property-locations.html'"></div>
<div ng-include src="'.../../templates/property-options.html'"></div>
